<?xml version="1.0" encoding="UTF-8"?>
<odoo>
   <menuitem id="school_menu" name="School" sequence="10" />
   <menuitem id="department_menu" name="Department" action="schoolmanagement.school_model_action" parent="schoolmanagement.school_menu" sequence="10" />
   <menuitem id="teacher_menu" name="Teacher" action="schoolmanagement.teacher_model_action" parent="schoolmanagement.department_menu" sequence="10" />
   <menuitem id="student_menu" name="Student" action="schoolmanagement.student_model_action" parent="schoolmanagement.department_menu" sequence="10" />
   <menuitem id="section_menu" name="Section" action="schoolmanagement.school_subject_action" parent="schoolmanagement.school_menu" sequence="10" />
   <menuitem id="attendence_menu" name=" Student Attendence" action="attendence_record_action" parent="school_menu" sequence="23" />
   <menuitem id="e_menu" name="Exam Question" action="exam_subject_action" parent="school_menu" sequence="26" />
   <menuitem id="examination_menu" name="Examination" action="examination_action" parent="school_menu" sequence="27" />
   <menuitem id="attendence_record_menu" name="Attendence Record" action="attendence_record_action" parent="attendence_menu" sequence="10" />
   <menuitem id="monthly_report_menu" name="Monthly Report" action="monthly_report_action" parent="attendence_menu" sequence="11" />

</odoo>
